<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="fileEncoding" value="utf-8"/>
        <property name="locations">
            <list>
                <value>classpath*:business-job.properties</value>
            </list>
        </property>
    </bean>

    <!-- ********************************* 基础配置 ********************************* -->

    <!-- 配置01、JobHandler 扫描路径 -->
    <context:component-scan base-package="cn.bidlink.job.business"/>

    <!-- 配置02、执行器 -->
    <bean id="xxlJobExecutor" class="com.xxl.job.core.executor.XxlJobExecutor" init-method="start" destroy-method="destroy" >
    <!-- 执行器IP[选填]，为空则自动获取 -->
    <property name="ip" value="${xxl.job.executor.ip}" />
    <!-- 执行器端口号[必须] -->
    <property name="port" value="${xxl.job.executor.port}" />
    <!-- 执行器AppName[选填]，为空则关闭自动注册 -->
    <property name="appName" value="${xxl.job.executor.appname}" />
    <!-- 执行器注册中心地址[选填]，为空则关闭自动注册 -->
    <property name="adminAddresses" value="${xxl.job.admin.addresses}" />
    <!-- 执行器日志路径[必填] -->
    <property name="logPath" value="${xxl.job.executor.logpath}" />
    </bean>

    <bean id="elasticClient" class="cn.bidlink.job.common.es.ElasticClient"></bean>

    <bean id="enterpriseSpaceDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="useUnfairLock" value="true"/>
        <property name="url" value="${enterpriseSpace.db.url}"/>
        <property name="username" value="${enterpriseSpace.db.username}"/>
        <property name="password" value="${enterpriseSpace.db.password}"/>
        <property name="notFullTimeoutRetryCount" value="2"/>
        <property name="initialSize" value="0"/>
        <property name="minIdle" value="0"/>
        <property name="maxActive" value="32"/>
        <property name="maxWait" value="5000"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="exceptionSorterClassName" value="com.alibaba.druid.pool.vendor.MySqlExceptionSorter"/>
        <property name="validConnectionCheckerClassName"
                  value="com.alibaba.druid.pool.vendor.MySqlValidConnectionChecker"/>
    </bean>

    <bean id="tenderDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="useUnfairLock" value="true"/>
        <property name="url" value="${tender.db.url}"/>
        <property name="username" value="${tender.db.username}"/>
        <property name="password" value="${tender.db.password}"/>
        <property name="notFullTimeoutRetryCount" value="2"/>
        <property name="initialSize" value="0"/>
        <property name="minIdle" value="0"/>
        <property name="maxActive" value="32"/>
        <property name="maxWait" value="5000"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="exceptionSorterClassName" value="com.alibaba.druid.pool.vendor.MySqlExceptionSorter"/>
        <property name="validConnectionCheckerClassName"
                  value="com.alibaba.druid.pool.vendor.MySqlValidConnectionChecker"/>
    </bean>

    <bean id="purchaseDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="useUnfairLock" value="true"/>
        <property name="url" value="${purchase.db.url}"/>
        <property name="username" value="${purchase.db.username}"/>
        <property name="password" value="${purchase.db.password}"/>
        <property name="notFullTimeoutRetryCount" value="2"/>
        <property name="initialSize" value="0"/>
        <property name="minIdle" value="0"/>
        <property name="maxActive" value="32"/>
        <property name="maxWait" value="5000"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="exceptionSorterClassName" value="com.alibaba.druid.pool.vendor.MySqlExceptionSorter"/>
        <property name="validConnectionCheckerClassName"
                  value="com.alibaba.druid.pool.vendor.MySqlValidConnectionChecker"/>
    </bean>

    <bean id="uniregDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="useUnfairLock" value="true"/>
        <property name="url" value="${unireg.db.url}"/>
        <property name="username" value="${unireg.db.username}"/>
        <property name="password" value="${unireg.db.password}"/>
        <property name="notFullTimeoutRetryCount" value="2"/>
        <property name="initialSize" value="0"/>
        <property name="minIdle" value="0"/>
        <property name="maxActive" value="32"/>
        <property name="maxWait" value="5000"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="exceptionSorterClassName" value="com.alibaba.druid.pool.vendor.MySqlExceptionSorter"/>
        <property name="validConnectionCheckerClassName"
                  value="com.alibaba.druid.pool.vendor.MySqlValidConnectionChecker"/>
    </bean>

</beans>